* {
    font-family: 'Hind Siliguri', sans-serif;
}
.full-page, .table {
    background-color: black;
    color: white;
}
h1{
    font-family: 'Open Sans', sans-serif;
}
nav, footer {
    background-color: #9CF7ED;
    color: black;
}
.head-banner {
    background-image: url(resources/pkew-banner.png);
    background-size: cover;
}
.fa {  
   font-size: 20px;
    padding: 5px;
    margin: 50px 10px;
    text-decoration: none;
    color: black;
    border-radius: 50%; 
    background-color: #9CF7ED;
    
  }
  .fa:hover {
    background-color:black;
    color: black;
    color: #9CF7ED;
}
.fa-facebook {
    padding: 5px 9px !important;
}
ul {
list-style: none;
}
.video {
    max-width: 700px;
    min-width: 200px;
}
button {
    border-radius: 10px;
    border: none;
    background-color: #9CF7ED;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding: 5px 30px;
}
.call-to-action-content {
    height: 150px;
    width: 150px;
    color: black;
    background-color: #9CF7ED;
    margin: 20px 5px;
}
.soldout {
    color: red;
    text-decoration: line-through;
    font-style: italic;
}